absl-py==0.1.10
astor==0.6.2
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2018.1.18
click==6.7
enum34==1.1.6
Flask==0.12.2
Flask-Uploads==0.2.1
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.10.0
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Keras==2.1.5
Markdown==2.6.11
MarkupSafe==1.0
mock==2.0.0
numpy==1.14.2
ordereddict==1.1
pathlib==1.0.1
pbr==3.1.1
Pillow==5.0.0
pipenv==11.9.0
protobuf==3.5.1
PyYAML==3.12
scipy==1.0.0
six==1.11.0
slim==0.1
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
